{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
<div class="d-flex flex-fill flex-column align-items-center justify-content-center">
  {% if validlink %}
  <h1 class="display-4 mb-3 text-center">Choose a new password</h1>
  <form method="POST" class="auth-form">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
  {% else %}
  <h1 class="display-4 mb-3 text-center">Password reset invalid</h1>
  <p>The password reset link was invalid, possibly because it has already been used.
  Please <a href="{% url 'password_reset' %}">request a new password reset</a>.</p>
  {% endif %}
</div>
{% endblock %}
