{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex flex-fill flex-column align-items-center justify-content-center">
  <h1 class="display-4 mb-3 text-center">Password reset</h1>
  <div class="text-center">
    <p>
      We've emailed you instructions for resetting your password!
      If an account exists with the email you entered, you should receive them shortly.
    </p>
    <p>
      If you don't receive an email, please make sure you've entered the correct email address
      and check your spam folder.
    </p>
    <p>
      You may now close this page.
    </p>
  </div>
</div>
{% endblock %}
