{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
<div class="d-flex flex-fill flex-column align-items-center justify-content-center">
  <h1 class="display-4 mb-3 text-center">Forgot your password?</h1>
  <p class="text-center">We'll send reset instructions to your email!</p>
  <form method="POST" class="auth-form">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary btn-block">Reset</button>
  </form>
</div>
{% endblock %}
