/* for reference:
 * blue bg (currently an image) is #82d5d9
 * navbar color is --gray-dark which is #343a40
*/

/* overwriting base bootstrap colors */
:root {
    /* AAA compliant with white text: */
    --primary: #004cc6;
    --success: #006702;
    --danger: #b40029;
}


/*** NAVIGATION ***/

/* overwriting main navbar's css */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: white;
}

.navbar-brand {
    /* originally, only top and bottom set to this value */
    padding: .3125rem;
}

/* overwriting for breadcrumbs */
.breadcrumb {
    background-color: #B2E5E9;
}

.breadcrumb-item {
    color: var(--gray-dark);
}

.breadcrumb-item.active {
    color: black;
}

/*** FOOTER ***/

footer {
    color: var(--gray);
}

footer a {
    color: var(--gray-dark);
    font-weight: normal;
    margin: 0 1rem;
}

footer a:hover {
    color: var(--gray);
}


/*** GENERAL ELEMENTS ***/

/* overwriting for submit buttons; AA for white text and current blue bg */
.btn-success {
    background-color: var(--success);
    border-color: var(--success);
}

/* our search button */
input[value="Search"] {
    /* meets AAA for small text against --gray-dark */
    color: #6ee47c;
    border-color: #6ee47c;
}

/* and the primary button */
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

/* better link and interactive element discoverability */
a {
    font-weight: bold;
    color: #002899; /* meets AA against current blue bg */
}

nav a {
    font-weight: normal;
    color: inherit;
}
/* and above we see the power of cascading */

/* and below we also see the power of cascading */
:focus {
    outline: 0.1rem solid; /* color set to text color or already specified */
    box-shadow: 0 0 0.2rem 0.2rem; /* color set to text color or already specified */
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem var(--blue),
                0 0 0.3rem 0.3rem white;
}

/* hints with subpar visibility are like trick questions (but at least 4.45:1 isn't as bad as it could've been) */
.text-muted {
    color: var(--gray-dark) !important; /* I can't believe they made a non-compliant color important */
}


body {
    margin: 0;
    height: 100vh;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

.group {
    margin: 2%;
}

.profile {
    margin: 0 auto;
    padding: 1%;
}

.dropdown-hidden {
    display: none;
}

.leaderboard {
    position: fixed;
    right: 0px;
    top: 20%;
    margin-right: 1%;
    border-style: solid;
    text-align: center;
}

/* for messages */
.success, .warning {
    display: inline-block;
    color: white;
}

.success {
    border-color: var(--success);
    background-color: var(--success);
}

.warning {
    border-color: var(--danger);
    background-color: var(--danger);
}


/* overwriting card styles for syllabus info */
.card, .card-title, .list-group-item {
    background-color: transparent;
    border: none;
}

.card {
    width: 20rem;
    margin: 0.25rem;
    padding-bottom: 0.5rem;
    background-color: rgba(255,255,255,0.25);
}

.card-title {
    font-weight: bold;
}

.list-group-item {
    padding-top: 0;
    padding-bottom: 0.1rem;
}

.callout {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}

.callout-warning {
    border-left: 0.25rem solid var(--yellow);
}

/* These form widths are arbitrary, but they look nice ¯\_(ツ)_/¯ */
.signup-form {
    width: 600px;
    max-width: 100%;
}

.auth-form {
    width: 400px;
    max-width: 100%;
}

/* when the screen is small enough for one syllabus per line */
@media only screen and (max-width: 55rem) {
    .card {
        width: 100%;
    }
}
