.group {
    margin: 2%;
}

body {
    margin: 0;
    height: 100%;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

.dropdown-hidden {
    display: none;
}

.github {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 64px;
    width: 64px;
}

.left {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 64px;
    width: 64px;
    padding: 2px;
}

.paypal  {
    position:fixed;
    bottom:0px;
    width:100%;
    z-index:-99;
}

.leaderboard {
    position: fixed;
    right: 0px;
    top: 20%;
    margin-right: 1%;
    border-style: solid; 
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

.arrow {
    height:2%;
    width:2%;
    margin-bottom: 2%; 
    border: 1px solid black;
}