/* for reference:
 * blue bg (currently an image) is #82d5d9
 * navbar color is --gray-dark which is #343a40
*/

/* overwriting base bootstrap colors */
:root {
    /* AAA compliant with white text: */
    --success: #006702;
    --danger: #b40029;
}

/* overwriting nav css */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: white;
}

.navbar-brand {
    /* originally, only top and bottom set to this value */
    padding: .3125rem;
}

/* overwriting for submit buttons; AA for white text and current blue bg */
.btn-success {
    background-color: var(--success);
    border-color: var(--success);
}

/* our search button */
input[value="Search"] {
    /* meets AA for small text against --gray-dark */
    color: #42bb57;
    border-color: #42bb57;
}

/* better link and interactive element discoverability */
a {
    font-weight: bold;
    color: #002899; /* meets AA against current blue bg */
}

nav a {
    font-weight: normal;
    color: inherit;
}
/* and above we see the power of cascading */

:focus {
    outline: 0.1rem solid; /* color set to text color or already specified */
    box-shadow: 0 0 0.2rem 0.2rem; /* color set to text color or already specified */
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem var(--blue),
                0 0 0.3rem 0.3rem white;
}


.group {
    margin: 2%;
}

.profile {
    margin: 0 auto;
    padding: 1%;
}

body {
    margin: 0;
    height: 100%;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

.dropdown-hidden {
    display: none;
}

.github {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 64px;
    width: 64px;
}

.left {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 64px;
    width: 64px;
    padding: 2px;
}

/* Ugh, get rid of this as soon as we move those upload/back/GH buttons somewhere else */
footer {
    z-index: 1 !important;
}

.leaderboard {
    position: fixed;
    right: 0px;
    top: 20%;
    margin-right: 1%;
    border-style: solid;
    text-align: center;
}

.arrow {
    height:2%;
    width:2%;
    margin-bottom: 2%;
    border: 1px solid black;
}

/* for messages */
.success, .warning {
    display: inline-block;
    color: white;
}

.success {
    border-color: var(--success);
    background-color: var(--success);
}

.warning {
    border-color: var(--danger);
    background-color: var(--danger);
}