.group {
    margin: 2%;
}

.profile {
    margin: 0 auto;
    padding: 1%;
}

body {
    margin: 0;
    height: 100%;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

.dropdown-hidden {
    display: none;
}

.github {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 64px;
    width: 64px;
}

.left {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 64px;
    width: 64px;
    padding: 2px;
}

/* Ugh, get rid of this as soon as we move those upload/back/GH buttons somewhere else */
footer {
    z-index: 1 !important;
}

.leaderboard {
    position: fixed;
    right: 0px;
    top: 20%;
    margin-right: 1%;
    border-style: solid;
    text-align: center;
}

.arrow {
    height:2%;
    width:2%;
    margin-bottom: 2%;
    border: 1px solid black;
}

.success, .warning {
    display: inline-block;
    color: white;
}

.success {
    border-color: #43a546;
    background-color: #43a546;
}

.warning {
    border-color: #d33840;
    background-color: #d33840;
}

/* These form widths are arbitrary, but they look nice ¯\_(ツ)_/¯ */
.signup-form {
    width: 600px;
    max-width: 100%;
}

.auth-form {
    width: 400px;
    max-width: 100%;
}
