// Change Bootstrap stuff before the @import

// Required
@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";

// Optional
@import "vendor/bootstrap/root";
@import "vendor/bootstrap/reboot";
@import "vendor/bootstrap/type";
//@import "vendor/bootstrap/images";
//@import "vendor/bootstrap/code";
@import "vendor/bootstrap/grid";
//@import "vendor/bootstrap/tables";
@import "vendor/bootstrap/forms";
@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap/transitions";
@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap/button-group";
@import "vendor/bootstrap/input-group";
//@import "vendor/bootstrap/custom-forms";
@import "vendor/bootstrap/nav";
@import "vendor/bootstrap/navbar";
//@import "vendor/bootstrap/card";
@import "vendor/bootstrap/breadcrumb";
//@import "vendor/bootstrap/pagination";
//@import "vendor/bootstrap/badge";
//@import "vendor/bootstrap/jumbotron";
@import "vendor/bootstrap/alert";
//@import "vendor/bootstrap/progress";
//@import "vendor/bootstrap/media";
@import "vendor/bootstrap/list-group";
@import "vendor/bootstrap/close";
//@import "vendor/bootstrap/toasts";
//@import "vendor/bootstrap/modal";
//@import "vendor/bootstrap/tooltip";
//@import "vendor/bootstrap/popover";
//@import "vendor/bootstrap/carousel";
//@import "vendor/bootstrap/spinners";
@import "vendor/bootstrap/utilities";
@import "vendor/bootstrap/print";

.group {
    margin: 2%;
}

.profile {
    margin: 0 auto;
    padding: 1%;
}

body {
    margin: 0;
    height: 100%;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

.dropdown-hidden {
    display: none;
}

.github {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 64px;
    width: 64px;
}

.left {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 64px;
    width: 64px;
    padding: 2px;
}

/* Ugh, get rid of this as soon as we move those upload/back/GH buttons somewhere else */
footer {
    z-index: 1 !important;
}

.leaderboard {
    position: fixed;
    right: 0px;
    top: 20%;
    margin-right: 1%;
    border-style: solid;
    text-align: center;
}

.arrow {
    height:2%;
    width:2%;
    margin-bottom: 2%;
    border: 1px solid black;
}

.success, .warning {
    display: inline-block;
    color: white;
}

.success {
    border-color: #43a546;
    background-color: #43a546;
}

.warning {
    border-color: #d33840;
    background-color: #d33840;
}

/* These form widths are arbitrary, but they look nice ¯\_(ツ)_/¯ */
.signup-form {
    width: 600px;
    max-width: 100%;
}

.auth-form {
    width: 400px;
    max-width: 100%;
}
