{% extends 'base.html' %}
{% block content %}
{% load static %}

<div style="padding-left: 5%;">
  <a class="btn btn-success" href="#school">School</a>
  <a class="btn btn-success" href="#suggestions">Suggestions</a>
  <a class="btn btn-success" href="#users">Users</a>
  <a class="btn btn-success" href="#panel">Control Panel</a>
  {% if mailSuccess %}
  <div class="alert text-center" style="width: 20%; margin: auto; color: white; border-color: #43a546; background-color: #43a546;" role="alert"> Mail Sent! </div>
  {% endif %}
  <h3>Submissions: {{submissions.count}} </h3>
  {% for i in submissions %}
  <div style="display: inline-block; width: 100%;" id='efpjw'>
    <form method="post">
      {% csrf_token %}
      <p style="float: left;"> {{i.user}} -- {{i.prof}} -- {{i.dept}} {{i.number}} -- {{i.title}} -- {{i.semester}} {{i.year}} -- Hidden: {{i.hidden}}</p>
      <input name="pk" value="{{i.pk}}" type="hidden"/>
      <input class="btn btn-danger" type="submit" name="delete" value="Delete" style="float: right;"/>
      <input class="btn btn-warning" type="submit" name="toggleHide" value="Toggle Hide" style="float: right;"/>
    </form>
  </div>
  {%endfor%} <br>

  <a name="school"></a>
  <h3>School: {{school.count}} </h3>
  {% for i in school %}
  <div style="display: inline-block; width: 100%;">
    <form method="post">
      {% csrf_token %}
      <p style="float: left;"> {{i.domain}} -- {{i.name}} -- Reviewed: {{i.reviewed}} -- Takedown: {{i.takedown}} -- {{i.reason}}<br> </p>
      <input name="pk" value="{{i.pk}}" type="hidden"/>
      <input class="btn btn-danger" type="submit" name="takedown" value="Takedown" style="float: right;"/>
      <input name="reason" style="float: right;" type="text"  value="{{i.reason}}"/>
    </form>
  </div>
  {%endfor%} <br>

  <a name="suggestions"></a>
  <h3>Suggestions: {{suggestions.count}} </h3>
  {% for i in suggestions %}
    <div style="display: inline-block; width: 100%;">
      <form method="post">
        {% csrf_token %}
        <p style="float: left;"> {{i.name}} -- {{i.suggestion_text|truncatechars:50}} --  <a href='{{i.github_issue}}'>Github</a> </p>
        <input name="pk" value="{{i.pk}}" type="hidden"/>
        <input class="btn btn-danger" type="submit" name="close" value="Close Feedback" style="float: right;"/>
        <input class="btn btn-warning" type="submit" name="edit" value="Edit Github Issue" style="float: right;"/>
        <input name="githubIssue" value="{{i.github_issue}}" style="float: right;" type="text"/>
      </form>
    </div>
  {%endfor%}<br>

  <a name="users"></a>
  <h3>Users: {{users.count}}</h3>
  {% for i in users %}
    {{i.user.email}} -- {{i.email_confirmed}} -- Saved: {{ i.saved.all | length}} <br>
  {%endfor%} <br>
  
  <a name="panel"></a>
  <h3>Control Panel: </h3>
  <div style="display:inline-block;">
    <form method="post" style="width:200px; display:inline-block;">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" name="purge" value="Purge non .edu emails" />
    </form> <br><br>
    <form method="post" style="width:200px; display:inline-block;">
      {% csrf_token %}
      <label for="body">Email Body: </label>
      <input type="text" name="body" value="{{emailBody}}" /><br>
      <label for="key">Email Password:</label>
      <input type="text" name="key"/>
      <input class="btn btn-warning" type="submit" name="sendtestmail" value="Send Test Mail" />
      <input class="btn btn-danger" type="submit" name="sendmassmail" value="Send Mass Mail" />
    </form>
  </div>
</div>

{% endblock %}
