{% load sass_tags %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Syllabi Share </title>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/style.scss' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body style="background-image: url({% static 'back.png' %}); background-size: cover;" class="d-flex flex-column align-items-center vh-100">
    {% if user.is_authenticated %}
      {% include 'navbar-logged-in.html' %}
    {% else %}
      {% include 'navbar-logged-out.html' %}
    {% endif %}

    <div class="container my-3 flex-fill">
      {% block content %}
      {% endblock %}
    </div>

    <a href="https://github.com/SyllabiShare/syllabi-share"><img class="github" src="{% static 'github.png' %}"></a>

    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
</html>
