{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="text-center">
  {% if search %}
    {% if posts.count == 0 %}
      <h4>There are no Syllabi matching your search at the {{school}} sorry! <br>Try to add them!</h4>
    {% elif posts.count == 1 %}
      <h4>There is 1 Syllabus matching your search at the {{school}}!</h4>
    {% else %}
      <h4>There are {{posts.count}} Syllabi matching your search at the {{school}}!</h4>
    {% endif %}
  {% else %}  
    {% if posts.count == 1 %}
      <h4>There is 1 Syllabus for {{dept}} courses! Add More!</h4>
    {% else %}
      <h4>There are {{posts.count}} Syllabi for {{dept}} courses! Add More!</h4>
    {% endif %}
  {% endif %}<br>

  {% for post in posts %}
  <button onclick="toggle('{{post.course}}{{post.prof}}')" class="btn btn-success" style="width: 40%;">{{post.course}} taught by {{post.prof}}</button>
  <div class="dropdown-hidden" id='{{post.course}}{{post.prof}}'>
    <iframe src="https://{{AWS_S3_CUSTOM_DOMAIN}}/{{post.syllabus}}" width="50%"></iframe>
    <a href="https://{{AWS_S3_CUSTOM_DOMAIN}}/{{post.syllabus}}"><img src="{% static 'arrow.png' %}" class="arrow"></a>
  </div><br><br>
  {% endfor %}
</div>

<a href="/"><img class="left" src="{% static 'left.png' %}"></a>

<script>
  function toggle(course){
    dep = document.getElementById(course)
    dep.classList.toggle("dropdown-hidden");
  }
</script>

{% endblock %}