{% extends 'base-deprecated.html' %}
{% load static %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{{school}}</a></li>
    <li class="breadcrumb-item active" aria-current="page"><!--
   -->{% if search_string %}<!-- workaround for those extra spaces
   -->Search results for "{{search_string}}"<!--
   -->{% else %}<!--
   -->{{dept}}<!--
   -->{% endif %}<!--
 --></li>
  </ol>
</nav>


<div class="text-center">
  {% if search_string %}
    {% if posts.count == 0 %}
      <h4>Unfortunately, there are no syllabi matching your search at the {{school}}.</h4>
      <a href="/upload">Do you have any syllabi to add?</a>?
    {% else %}
      <h4>There {{posts.count|pluralize:"is,are"}} {{posts.count}} syllab{{posts.count|pluralize:"us,i"}} matching your search at the {{school}}!</h4>
    {% endif %}
  {% else %}
    <h4>There {{posts.count|pluralize:"is,are"}} {{posts.count}} syllab{{posts.count|pluralize:"us,i"}} for {{dept}} courses!</h4>
      {% if posts.count == 0 %}
        Would you like to <a href="/upload">add a syllabus</a>?
      {% endif %}
  {% endif %}<br>

  {% for post in posts %}
  <a href="https://{{AWS_S3_CUSTOM_DOMAIN}}/{{post.syllabus}}" class="btn btn-success" target="_blank">{{ post.dept }} {{ post.number }} taught by {{post.prof}}</a>
  <br><br>
  {% endfor %}
</div>

<a href="/"><img class="left" src="{% static 'left.png' %}"></a>

{% endblock %}
