{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="text-center">
  {% if search %}
    {% if posts.count == 0 %}
      <h4>There are no Syllabi matching your search at the {{school}} sorry! <br>Try to add them!</h4>
    {% else %}
      <h4>There {{posts.count|pluralize:"is,are"}} {{posts.count}} Syllab{{posts.count|pluralize:"us,i"}} matching your search at the {{school}}!</h4>
    {% endif %}
  {% else %}
    <h4>There {{posts.count|pluralize:"is,are"}} {{posts.count}} Syllab{{posts.count|pluralize:"us,i"}} for {{dept}} courses! Add More!</h4>
  {% endif %}<br>

  {% for post in posts %}
  <a href="https://{{AWS_S3_CUSTOM_DOMAIN}}/{{post.syllabus}}" class="btn btn-success" target="_blank">{{ post.dept }} {{ post.number }} taught by {{post.prof}}</a>
  <br><br>
  {% endfor %}
</div>

<a href="/"><img class="left" src="{% static 'left.png' %}"></a>

{% endblock %}
