{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if num == 1 %}
<h4 class="text-center">There is 1 Syllabus for the {{school}}!</h4>
{% else %}
<h4 class="text-center">There are {{num}} Syllabi for the {{school}}! Add More!</h4>
{% endif %}
<br>

<div style="width: 60%; height: 90%; margin: auto;" class="text-center">
  {% for dept in posts %}
    <button onclick="toggle('{{dept.0.dept}}')" class="btn btn-secondary" style="width: 40%; margin: 2%;" type="button">{{dept.0.dept}}</button>
    <div class="dropdown-hidden" id="{{dept.0.dept}}">
      {% for post in dept %}
      <br>
      <h5>{{post.course}} taught by {{post.prof}}</h5>
      <iframe src="https://{{AWS_S3_CUSTOM_DOMAIN}}/{{post.syllabus}}" width="50%"></iframe>
      <a href="https://{{AWS_S3_CUSTOM_DOMAIN}}/{{post.syllabus}}" download><img src="{% static 'arrow.png' %}" class="arrow"></a><br>
      {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="leaderboard">
  <table>
    <tr>
      <th>Leaderboard</th>
    </tr>
    {% for name,number in leaderboard %}
    <tr style="text-align: left;">
      <th>{{forloop.counter}}. {{name}} with {{number}} uploads</th>
    </tr>
    {% endfor %}
  </table>
</div>
<a href="/upload"><img class="left" src="{% static 'plus.png' %}"></a>

<script>
  function toggle(dept){
      paypal = document.getElementById('paypal')
      dep = document.getElementById(dept)
      if (paypal.classList.contains("dropdown-hidden") && dep.classList.contains("dropdown-hidden")) return;
      dep.classList.toggle("dropdown-hidden");
      paypal.classList.toggle("dropdown-hidden");
  }
</script>

{% endblock %}