{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if posts.count == 1 %}
  <h4 class="text-center">There is 1 Syllabus for your school!</h4>
{% else %}
  <h4 class="text-center">There are {{posts.count}} Syllabi for your school! Add More!</h4>
{% endif %}

<div class="text-center">
  {% for post in posts %}
    <h5>{{post.course}} taught by {{post.prof}}</h5>
    <iframe src="https://{{AWS_S3_CUSTOM_DOMAIN}}/{{post.syllabus}}" width="50%"></iframe>
    <a href="https://{{AWS_S3_CUSTOM_DOMAIN}}/{{post.syllabus}}" download><img src="{% static 'arrow.png' %}" height="2%" width="2%" style="padding-bottom: 2%;"></a><br><br>
  {% endfor %}
</div>

<div class="leaderboard">
  <table>
    <tr>
      <th>Leaderboard</th>
    </tr>
    {% for name,number in leaderboard %}
      <tr style="text-align: left;">
        <th>{{forloop.counter}}. {{name}} with {{number}} uploads</th>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}