{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  {% block title %}
  <title>Syllabi Share</title>
  {% endblock %}

  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark w-100">
    <a class="navbar-brand" href="/">SyllabiShare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto d-flex align-items-md-center">
        <li class="nav-item mr-4">
          <a class="nav-link" href="{% url 'syllabiShare:about' %}">about</a>
        </li>
        <li class="nav-item mr-2">
          <a class="border border-light rounded text-light nav-link" href="{% url 'signup' %}">sign up</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" href="{% url 'login' %}">sign in</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container my-3">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
