{% extends 'base.html' %}
{% load static %}
{% load upToCharacter %}
{% block content %}

<h3 class="mb-3">Your uploads</h3>

<div class="callout callout-warning">
  <b>Need to correct an error?</b>
  <p class="mb-0">Please email <a href="mailto:syllabishare@gmail.com?subject=Error%20in%20syllabus">syllabishare@gmail.com</a> or <a href='https://github.com/SyllabiShare/syllabi-share/issues'>open a pull request on GitHub</a>.</p>
</div>

<div class="d-flex flex-wrap">
  {% for post in posts %}
  <div class="card bg-light">
      <h5 class="card-title card-header"><a href="https://{{AWS_S3_CUSTOM_DOMAIN}}/{{post.syllabus}}" target="_blank">{{ post.dept }} {{ post.number }} taught by {{post.prof}}</a></h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Course title:</strong> {{post.title}}</li>
        <li class="list-group-item"><strong>Semester:</strong> {{post.semester|capfirst}} {{post.year}}</li>
        <li class="list-group-item">
            <strong>Approved and visible?</strong>
            {% if post.hidden %} No
            {% else %} Yes
            {% endif %}
        </li>
      </ul>
  </div>
  {% endfor %}
</div>

{% endblock %}
