{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %} 
<h3 style="padding-top: 2%;">Create account</h3>
<form method="post">
    {% crispy form %}
    <button type="submit" class="btn btn-primary">Create account</button>
</form>
<div class="text-muted mt-3"><small>
  By creating an account, you agree to the <a href="{% url 'syllabiShare:privacy' %}">privacy policy</a>
  and certify that you will only use the material for educational purposes.
</small></div>
{% endblock content %}
