{% extends 'base.html' %}
{% block content %}
{% load static %}

<form class="text-center" method="post">
  {% csrf_token %}
  <h1>Please leave a suggestion!</h1>
  <div class="form-group">
    <label for="suggestion">Suggestion: </label>
    <input id="suggestion" type="text" name="suggestion" required>
  </div>
  <h5>Consider opening a Github issue for me to triage: <a style='color: purple' href='https://github.com/verndrade/syllabi-share/issues'><b><u>HERE</u></b></a></a></h5>
  <div class="form-group">
    <label for="githubLink">Issue (Optional): </label>
    <input id="githubLink" type="text" name="githubLink">
  </div>
  <input class="btn btn-success" type="submit" value="Submit"> <br><br>
</form>

Existing Suggestions (beware, look at the links before you click them, just in case):
<ul>
  {%for i in suggestion%}
    <li>{{i.suggestion_text}} -- <a style='color: black' href='{{i.github_issue}}'>{{i.github_issue}}</a></li>
  {%endfor%}
</ul>

<a href="/"><img class="left" src="{% static 'left.png' %}"></a>

{% endblock %}

{% block footer %}

{% endblock %}
