{% extends 'base-deprecated.html' %}
{% block content %}
{% load static %}

<h3>Please leave a suggestion!</h3>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="suggestion">Suggestion</label>
    <textarea class="form-control" id="suggestion" name="suggestion" required></textarea>
  </div>
  <p class="mb-0">You may want to <a href='https://github.com/SyllabiShare/syllabi-share/issues'>open a GitHub issue</a> for me to triage </a></p>
  <div class="form-group">
    <label for="githubLink">Link to GitHub issue (optional)</label>
    <input class="form-control" id="githubLink" type="text" name="githubLink">
  </div>
  <input class="btn btn-success" type="submit" value="Submit">
</form>

<div class="mt-3">
  Existing Suggestions (beware, look at the links before you click them, just in case):
  <ul>
    {%for i in suggestion%}
      <li>{{i.suggestion_text}} -- <a class="text-body" href='{{i.github_issue}}'>{{i.github_issue}}</a></li>
    {%endfor%}
  </ul>
</div>

{% endblock %}
