{% extends 'base.html' %}
{% load static %}
{% block content %}

<h3>Upload syllabus</h3>
<form id="form-id" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="prof">Professor</label>
    <input class="form-control" id="prof" type="text" name="prof" placeholder="John Doe" required>
  </div>
  <div class="form-group">
    <label for="course">Course</label>
    <input class="form-control" id="course" type="text" name="course" placeholder="CS 4102" required>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" id="title" type="text" name="title" placeholder="Algorithms" required>
  </div>
  <div class="form-group">
    <label for="file">Syllabus (PDFs only)</label>
    <input class="form-control-file" id="file" type="file" name="file" accept="application/pdf" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="semester">Semester</label>
      <select class="form-control" name="semester" id="semester" required>
        <option value="fall">Fall</option>
        <option value="spring">Spring</option>
        <option value="summer">Summer</option>
      </select>
    </div>
    <div class="form-group col-md-1">
      <label for="year">Year</label>
      <select class="form-control" name="year" id="year" required>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
      </select>
    </div>
  </div>
  <input class="btn btn-success" type="submit" value="Submit">
</form><br>

{% if success %}
<div id="message" class="alert d-inline-block" style="color: white; border-color: #43a546; background-color: #43a546;" role="alert"> Addition Successful! </div>
{% else %}
<div id="message" class="alert d-inline-block" style="color: white; border-color: #d33840; background-color: #d33840;" role="alert"> {{message}} </div>
{% endif %} 
<p>
  Please be aware of any policies your school may have about the sharing of syllabi before we get the professor consent system up.<br>
  By uploading a syllabus, you certify that you have done this.
</p>

<a href="/"><img class="left" src="{% static 'left.png' %}"></a>

<script type="text/javascript">
  $(function(){
      $("#file").on('change', function(event) {
          var file = event.target.files[0];
          if(file.size>=5*1024*1024) {
              document.getElementById('message').innerHTML = "Upload PDFs of size less than 1MB please";
              $("#form-id").get(0).reset(); 
              return;
          }
          if(!file.type.match('application/pdf.*')) {
              document.getElementById('message').innerHTML = "Upload PDFs only please!";
              $("#form-id").get(0).reset(); 
              return;
          }
      });
  });
</script>
{% endblock %}
