{% extends 'base.html' %}
{% block content %}
<form id="form-id" method="post">
  {% csrf_token %}
  <h1 class='text-center'> Upload Syllabus: </h1>
  <div style="width: 35%; margin: auto; display: block;">
    <div class="form-group group">
      <h4 for="prof"> <b>Professor:</b> </h4>
      <input style="width:100%;" id="prof" type="text" name="prof" required> <br>
    </div>
    <div class="form-group group">
      <h4 for="prof"> <b>Course:</b> </h4>
      <input style="width:100%;" id="course" type="text" name="course" required> <br>
    </div>
    <div class="form-group group">
      <h4 for="prof"> <b>Syllabus:</b> </h4>
      <input style="width:100%;" id="file" type="file" name="file" accept="application/pdf" required> <br>
    </div>
  </div>
  <input class="btn btn-success" style="display: block; margin: auto;" type="submit" value="Submit"> <br> 
  {% if success %}
  {% else %}
  <div class="alert alert-danger text-center" style="width: 30%; margin: auto;" role="alert"> Misuse of uploads will be met by a ban! </div>
  {% endif %}
</form>
<script type="text/javascript">
  $(function(){
      $("#file").on('change', function(event) {
          var file = event.target.files[0];
          if(file.size>=2*1024*1024) {
              alert("Upload PDFs of size less than 2MB please");
              $("#form-id").get(0).reset(); 
              return;
          }
  
          if(!file.type.match('application/pdf.*')) {
              alert("Upload PDFs only please!");
              window.location.assign($(location).attr('href'));
              return;
          }
          /*
          var fileReader = new FileReader();
          fileReader.onload = function(e) {
              var int32View = new Uint8Array(e.target.result);
              //verify the magic number
              // for JPG is 0xFF 0xD8 0xFF 0xE0 (see https://en.wikipedia.org/wiki/List_of_file_signatures)
              if(int32View.length>4 && int32View[0]==0xFF && int32View[1]==0xD8 && int32View[2]==0xFF && int32View[3]==0xE0) {
                  alert("ok!");
              } else {
                  alert("only valid JPG images");
                  $("#form-id").get(0).reset(); //the tricky part is to "empty" the input file here I reset the form.
                  return;
              }
          };
          fileReader.readAsArrayBuffer(file);*/
      });
  });
</script>
{% endblock %}